<footer id="footer" class="mt-50">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Social</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="https://www.facebook.com"> <i class="fas fa-cloud"></i>  Facebook </a></li>
          <li><a href="https://twitter.com/?lang=es"> <i class="fab fa-twitter"></i> Twitter </a></li>
          <li><a href="https://www.instagram.com"> <i class="fab fa-instagram"></i> Instagram </a></li>
          <li><a href="https://www.youtube.com"> <i class="fab fa-youtube"></i> Youtube </a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Cuenta</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="http://localhost:3000"><i class="fas fa-house-user"></i> Home</a></li>
          <li><a href="/productos"><i class="fab fa-product-hunt"></i> Productos</a></li>
          <li><a href="/categories"><i class="fas fa-list-alt"></i> Categorias</a></li>
          <li><a href="/cards"><i class="fas fa-cart-plus"></i> Carrito</a></li>
          <li><a href="/users/edit"><i class="fas fa-user-edit"></i> Perfil</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Informacion</h5>
        <ul class="list-unstyled quick-links">
          <li><a href=""><i class="fas fa-phone-square"></i> Telefono: Bogota:(031)7895412</a></li>
          <li><a href=""><i class="fas fa-envelope"></i> Correo: TiendaABC@gmail.com</a></li>
          <li><a href=""><i class="fas fa-map-marked-alt"></i> Direccion: Calle 45A 17-80 </a></li>
          <li><a href=""><i class="fas fa-list-alt"></i> PQR</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href=""><i class="fab fa-google"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fas fa-phone-alt"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fab fa-cc-visa"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="">National Transaction Corporation ABC Modasy</a></u> </p>
        <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
      </div>
      <hr>
    </div>
  </div>
</footer>