<% @title="Acerca de nosotros" %>
<div class="container login-form-1 mt-5 mb-5">
  <h3>Conoce nuestro Equipo:</h3>
  <hr>
  <div class="row team-row">

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <%= image_tag "fabian.jpeg"%>

          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Our web design team will spend time with our digital marketing team.
              </p>
              <div class="socials mt-20">
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
                <a href="mail.google.com"><i class="fab fa-google-plus"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Fabian Molina</h6>
        <span>Designer</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <%= image_tag "rendon.jpg"%>
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Our web design team will spend time with our digital marketing team.
              </p>
              <div class="socials mt-20">
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
                <a href="mail.google.com"><i class="fab fa-google-plus"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Andres Rendon</h6>
        <span>Programador</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <%= image_tag "lady.jpg"%>
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Our web design team will spend time with our digital marketing team.
              </p>
              <div class="socials mt-20">
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
                <a href="mail.google.com"><i class="fab fa-google-plus"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Lady Roa</h6>
        <span>Designer</span>
      </div>
    </div>
    <!-- end team member -->

  </div>
</div>